<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bengali Association of Greater Rochester</title>
  </head>
  <body>
    {{> header}}
    <p>Please start chating with BagrBot from Facebook Messenger to know day to day activities</p>

    {{> footer}}
  </body>

</html>
